$breakpoints: (
    "md": 700px,
    "sm": 485px
);

@mixin md {
    @media (max-width: map-get($breakpoints, "md")){
        @content;
    }
}
@mixin sm {
    @media (max-width: map-get($breakpoints, "sm")){
        @content;
    }
}

.item-detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 2rem;
    background-color: rgba(167, 167, 167, 0.327);
    .imagenes-detail-container{
        display: flex;
        align-items: flex-start; 
        .imagenes-secundarias{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-right: 20px; 
            img {
                border-radius: 10px;
                margin: 1.4rem;
                cursor: pointer;
                width: 300px; 
                height: auto;
                @include md{
                    width: 80%;
                    margin: .8rem;
                }
            }
        }
        .imagen-principal{
            justify-content: center;
            align-items: center;
            img {
                max-width: 600px;
            }
        }
    }
    @include md{
        width: 70%;
    }
    @include  sm {
        height: 400px;
    }
}


