@import "../../variables-sass/breakpoints-y-mixins.scss";
@import "../../variables-sass/variables.scss";

.card {
    display: flex;
    width: 250px;
    height: 300px;
    padding: 1rem;
    margin: 1.2rem;
    text-decoration: none;
    transition: 0.3s ease;
    border-radius: 6px;
    border: none;
    box-shadow: 6px 6px 5px -7px rgba(0,0,0,0.69);
    background-color: $color1;
    &:hover{
        transform: scale(1.01);
        box-shadow: 6px 6px 5px -3px rgba(0,0,0,0.69);
    }
    @include sm {
        padding: .5rem;
    }
    @media (max-width:292px){
        height: 100%;
    }
    img {
        max-width: 200px;
        max-height: 200px;
        text-align: center;
        align-self: center;
        @include sm {
            width: 170px;
        }
        @media (max-width:292px){
            width: 100%;
        }
    }
    .subCard{
        h2{
            font-size: 1.2rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            color: $color3;
            @include sm {
                font-size: 1.2rem;
            }
        }
        p {
            font-size: 1.5rem;
            color: $color3;
            @include sm {
            }
        }
    }
   
    
}


