
.card {
    display: flex;
    width: 250px;
    height: 300px;
    padding: 1rem;
    margin: 1.2rem;
    text-decoration: none;
    transition: 0.3s ease;
    align-items: center;
    border-radius: 10px;
    border: none;
    box-shadow: 6px 6px 5px -7px rgba(0,0,0,0.69);
    &:hover{
        transform: scale(1.1);
        box-shadow: 6px 6px 5px -3px rgba(0,0,0,0.69);

    }
    h2{
        font-size: 1.2rem;
    }
    img {
        max-width: 200px;
        max-height: 170px;
        text-align: center;
    }
    p {
        font-size: 1.2rem;
        text-align: center;
    }
}


