@import "../../variables-sass/variables.scss";

.checkout {
    display: flex;
    flex-direction: column;
    background-color: $color1;
    margin: 10vh auto 60vh auto;
    width: 400px;
    padding: 4rem;
    border-radius: 15px;
    color: $color3;
    justify-content: center;
    .volver {
        border-radius: 10px;
        padding: 1.2rem;
        background-color: $color3;
        text-decoration: none;
        color: $color1;
        transition: .3s ease;
        align-self: center;
        &:hover{
            background-color: $color6;
            color: $color1;
        }
    }
    @media (max-width: 406px){
        width: 250px;
        font-size: .8rem;
        padding: .7rem;
    }
    @media (max-width: 270px){
        width: 200px;
        font-size: .7rem;
        padding: .3rem;
        margin-bottom: 45vh;
    }
}
