@import "../../variables-sass/variables.scss";
@import "../../variables-sass/breakpoints-y-mixins.scss";

form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 10vh auto 55vh auto ;
    background-color: $color2;
    padding: 4rem;
    border-radius: 15px;
    box-shadow: 6px 6px 5px -3px rgba(0, 0, 0, 0.295);
    gap: 15px;
    @media (max-width: 602px){
        width: 330px;
        padding: 1.4rem;
    }
    @media (max-width: 340px){
        width: 290px;
        
        padding: 1.2rem;
    }
    label {
        color: $color1;
        font-weight: bold;
        font-size: 1.2rem;
    }
    input {
        border-radius: 5px;
        border: none;
        box-shadow: 6px 6px 5px -3px rgba(0, 0, 0, 0.295);
        height: 40px;
        padding: 15px;
        &:focus{
            outline: none;
        }
    }
    button {
        border: none;
        border-radius: 10px;
        padding: 1rem;
        background-color: $color1;
        color: $color3;
        transition: .3s ease;
        width: 200px;
        margin: 1.3rem auto;
        box-shadow: 6px 6px 5px -3px rgba(0, 0, 0, 0.295);
        &:hover {
            background-color: $color6;
            color: white;
        }
    }
}