@import "../../variables-sass/variables.scss";

@media (max-width: 707px) {
    .icono{
       width: 30px;
    }
   }
   .carrito-widget{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    margin-top: 15px;
    text-decoration: none;
    .carrito-vacio{
        color: $color2;
    }
    .en-uso{
        color: $color3;
    }
    .icono{
        font-size: 2rem;
    }
    p{
        color: $color2;
        font-size: 1.4rem;
        margin-left: 5px;
        text-decoration: none;
    }
   }
