@import "../../variables-sass/variables.scss";

.navbar {
  padding: 0 !important;
  position: sticky;
  top: 0;
  z-index: 999;
  .container-fluid {
    background-color: $color3;
    #navbarNav {
      justify-content: space-between;
      align-items: center;
      ul {
        display: flex;
        list-style-type: none;
        li {
          text-decoration: none;
          margin: 1rem;
          transition: .2s ease;
          border-radius: 1rem;
          padding: 0.7rem;
          font-size: 1.2rem;
        }
      }
    }
  }
  .navbar-brand {
    font-size: 1.7rem;
  }
  .cart {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    .cartIcon {
      font-size: 30px;
    }
    .cartAmount {
      font-size: 1.5rem;
      margin: 0.5rem;
    }
  }
}

li:hover {
  background-color: $color2;
}

