@import "../../variables-sass/breakpoints-y-mixins.scss";
@import "../../variables-sass/variables.scss";

#carouselExample{
    width: 80vw;
    height: 40vh;
    align-items: center;
    margin: 1rem auto 3rem auto;
    border-radius: 20px;
    overflow: hidden;
    .carousel-item{
        img{
            height: 850px;
            @include lg {
                height: 300px;
            }
            @include md {
                height: 350px;
            }
        }
    }
    button {
        margin: 1.5rem;
        background-color: $color1;
        height: 100px;
        width: 100px;
        align-self: center;
        border-radius: 15px;
        @include md {
            background-color: rgba(255, 255, 255, 0);
        }
        @include sm {
            margin: 0;
        }
        &:hover {
            background-color: $color3;
        }
    }
    @include lg {
        width: 90vw;
        height: 300px;
    }
    @include sm {
        width: 100vw;
        height: 200px;
        border-radius: 0px;
    }
    @media (max-width: 314px) {
        height: 150px;
    }
}